* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg {
  pointer-events: none;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

#map {
  height: 100vh;
  font-family: Gotham, Helvetica, Arial, sans-serif;
  width: 100vw;
}

#search-form,
#corridor-form {
  display: none;
}

.tt-overlay-panel {
  background-color: #ffffff;
  border-radius: 1px;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.16);
  font-family: Gotham, Helvetica, Arial, sans-serif;
  z-index: 1;
}

.tt-overlay-panel__close {
  background: none;
  border: 1px solid transparent;
  outline: none;
  position: absolute;
  right: 0;
  top: 0;
}

.tt-overlay-panel__close:focus {
  border: 1px solid #94b106;
}

.tt-overlay-panel__close:before {
  content: "\D7";
  display: block;
}

.tt-overlay-panel.-center {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.tt-overlay-panel.-left-top {
  left: 16px;
  position: absolute;
  top: 16px;
}

.tt-overlay-panel.-right-top {
  position: absolute;
  right: 16px;
  top: 16px;
}

.tt-overlay-panel.-medium {
  max-width: 300px;
}

.tt-foldable {
  background-color: #ffffff;
  max-height: 999px;
  max-width: 100%;
  transition: max-height 0.2s ease, max-width 0.2s ease;
}

.tt-foldable:before {
  background-color: #ffffff;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.2s ease;
  width: 100%;
  z-index: -1;
}

.tt-foldable.-open {
  overflow: hidden;
}

.tt-foldable.-open:before {
  z-index: 1;
}

.tt-foldable.-folded {
  max-height: 45px;
  max-width: 32px;
  padding-left: 24px;
  padding-right: 24px;
  transition: max-height 0.2s ease, max-width 0.2s 0.2s ease;
}

.tt-foldable.-folded:before {
  opacity: 1;
  transition: opacity 0.2s ease;
  z-index: 1;
}

.tt-foldable.-folded .tt-foldable__button {
  right: 18px;
  top: 18px;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  transition: left 0.2s ease;
}

.tt-foldable__button {
  background-color: inherit;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='12px' height='12px' viewBox='0 0 12 12' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EShape Copy 3%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Shape-Copy-3' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpolygon fill='%239B9B9B' transform='translate%286.000000%2C 3.000000%29 scale%28-1%2C 1%29 rotate%2890.000000%29 translate%28-6.000000%2C -3.000000%29 ' points='9 -1.59 7.8582996 -3 3 3 7.8582996 9 9 7.59 5.29149798 3'/%3E%3Cpolygon id='Shape-Copy-4' fill='%239B9B9B' transform='translate%286.000000%2C 9.000000%29 scale%28-1%2C 1%29 rotate%2890.000000%29 translate%28-6.000000%2C -9.000000%29 ' points='9 4.41 7.8582996 3 3 9 7.8582996 15 9 13.59 5.29149798 9'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  height: 12px;
  position: absolute;
  width: 12px;
  z-index: 2;
}

.tt-foldable__button:focus {
  outline: none;
}

.tt-foldable__button.-top-right {
  right: 16px;
  top: 16px;
}

.fence-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.fence-choice__label {
  font-family: Gotham, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.25px;
  font-weight: bold;
  padding: 48px 0 13px 24px;
}

.fence-choice__content {
  padding: 0 20px 24px 20px;
}

.btn-submit,
.tt-foldable input[type="button"].btn-submit {
  background: #8dc3eb;
  border: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.14) 0 3px 6px;
  box-shadow: rgba(0, 0, 0, 0.14) 0 3px 6px;
  color: #fff;
  height: 30px;
  font-family: Gotham, Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  width: 100%;
  -ms-flex-item-align: center;
  align-self: center;
}

.btn,
.tt-foldable input[type="button"].btn {
  background: #fff no-repeat top center;
  border: none;
  border-radius: 0;
  outline: none;
  color: #000;
  font-family: Gotham, Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 0.95em;
  height: 100px !important;
  margin-top: 0;
  -webkit-transition: -webkit-box-shadow 0.3s ease-out;
  transition: -webkit-box-shadow 0.3s ease-out;
  transition: box-shadow 0.3s ease-out;
  transition: box-shadow 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
  width: 75px;
}


.tt-foldable button.btn:hover .icon-fill{
  fill: #61ade0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.14) 0 0 6px;
  box-shadow: rgba(0, 0, 0, 0.14) 0 0 6px;
}

.tt-foldable button.btn:hover .icon-stroke{
  stroke: #61ade0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.14) 0 0 6px;
  box-shadow: rgba(0, 0, 0, 0.14) 0 0 6px;
}


.tt-foldable button.btn.active .icon-fill{
  fill: #8dc3eb;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0 0 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 0 6px;
}

.tt-foldable button.btn.active .icon-stroke{
  stroke: #8dc3eb;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0 0 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 0 6px;
}

.tt-foldable button.btn.active {
  font-weight: bold;
}

.btn-submit--remove {
  background-color: #d73131;
  color: #fff;
}

.btn-submit--search {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  height: 40px !important;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 1.23em;
}

.form--borders {
  border-top: 2px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 24px;
}

.form__row--compact {
  padding: 5px;
}

.form__input {
  border: 1px solid #ddd;
  display: block;
  font-family: inherit;
  font-size: 100%;
  font-weight: lighter;
  margin-top: 5px;
  padding: 10px 15px;
  width: 100%;
  color: #707070;
}

.form__label {
  /*color: #707070;*/
  font-weight: bold;
  padding-bottom: 15px;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1100;
}

.modal__text {
  border: 1px solid #888;
  color: #555;
  font-family: Gotham, Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin: 15% auto;
  padding: 20px;
  text-align: center;
  width: 20%;
}

.settings-modal {
  display: "block";
}

.mapboxgl-popup .mapboxgl-popup-close-button {
  color: #6b6b6b;
  font-size: 18px;
  padding-right: 7px;
  padding-top: 3px;
}
